node_modules/
.env
.DS_Store
dist/
build/
*.log
coverage/
*.tgz
*.tar.gz
.npm
.eslintcache
/.nyc_output
/coverage
/.nyc_output
.nyc_output
.cache
.parcel-cache
.next
out
.nuxt
.cache
.vscode
.idea
*.swp
*.swo
*~
